@mixin font-face($font-family, $font-size, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-size;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

