/* здесь используйте глобальные переменные */
$basic_green: #68b738d9;
$basic_gray: #f2f2f2;
$basic_gray-2: #eaeaea;
$spacial_dark-gray: #222222;
$spacial_dark-gray-2: #444444;
$basic_white: #ffffff;
