.product_title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $spacial_dark-gray;
}

.product_content {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $spacial_dark-gray-2;
}
